* {
        margin: 0;
        padding: 0;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: auto;

}

#header-wrapper{
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    color: white;
    -webkit-animation: move 10s ease infinite;
        animation: move 10s ease infinite;
    -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    background: #69d2e7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #69d2e7, #B7410E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #69d2e7, #B7410E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #69d2e7, #B7410E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #69d2e7, #B7410E); /* Standard syntax */;
}

#header-subwrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
}

#header-title{
    font-size: 8vh;
}

#header-subtext{
    padding-top: 2vh;
    font-size: 3vh;
    font-weight: 200;
    width: 50%;
    margin: auto;
}

#nav-bar {
    padding-top: 8vh;
    font-size: 4vh;
    list-style-type: none;
}

.nav-object {
    width: 25%;
    float: left;
}

.nav-object a{
    display: block;
    text-decoration: none;
    color: white;
}

.nav-object a:hover {
    color: black;
}
