<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Capital One/Mindsumo Challenge 2018 - Improve</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='improve.css') }}">
    </head>
    <body>
        <ul id="nav-bar">
            <li class="nav-object"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="nav-object"><a href="{{ url_for('visualize') }}">Visualize</a></li>
            <li class="nav-object"><a href="{{ url_for('predict') }}">Predict</a></li>
        </ul>
        <h1 id="improve-title">Improve</h1>
        <div id="improve">
            <table>
                <tr>
                    <th>Zipcode</th>
                    <th>Highest Average Wait Times</th>
                    <th>Location</th>
                </tr>
                <tr>
                    <td>94127</td>
                    <td>45:19</td>
                    <td><img src="{{ url_for('static', filename='94127.png') }}" alt="94127 Map"></td>
                </tr>
                <tr>
                    <td>94105</td>
                    <td>19:01</td>
                    <td><img src="{{ url_for('static', filename='94105.png') }}" alt="94105 Map"></td>
                </tr>
                <tr>
                    <td>94129</td>
                    <td>15:33</td>
                    <td><img src="{{ url_for('static', filename='94129.png') }}" alt="94129 Map"></td>
                </tr>
            </table>
        </div>
        <div id="analysis">
            <h1 id="analysis-title">Analysis</h1>
            <h2>    Shown in the Table above are the zipcodes with the three highest average wait times after receiving a dispatch request.
                The average of all average wait times is 11 minutes and 30 seconds whereas for, all of the above, the average wait time is over 15 minutes.
                The most concerning of these is the average wait time in zipcode 94127 which is over 45 minutes. However, the standard deviation for all wait times is
                7 minutes which suggests that 94127 is an outlier given that it is greater than 3 standard deviations away from the average. The average wait time
                without 94127 is about 10 minutes which is about a 13% decrease in time. <br><br>
                    94127 appears to be largely residential and a park containing the Mt. Davidson, the highest point in San Francisco.
                Even though 94127 only required 79 dispatches in the time period compared to
                an average number of dispatches per zipcode of 299, the wait time is concerning. Given 94127's geographically central location in San Francisco and
                residential population, I believe that increasing the dispatch resources in the area should be a given. These resources should be allocated from other
                zipcodes that have low average wait times as well as a low number of dispatches required. 2 examples of this are 94104 and 94158, with both have average
                wait times of below 10 minutes and required fewer than 100 dispatches in the time period. <br><br>
                    Another area of concern is 94105, which experiences the second highest average wait time around 19 minutes. There were 222 dispatches within that time period
                suggesting that resources should be allocated there as well. 94129, the third highest average wait time around 15 minutes only required 29 dispatches, thus it is
                a lower priority given the wait time within 1 standard deviation of the average of average wait times and fewer number of dispatches.
            </h2>
        </div>
    </body>
</html>
